body {
  margin: 0;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: hsl(220, 13%, 18%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
